<div class="mb-48">
  <div class="flex gap-8">
    <%# Main Content %>
    <div class="w-3/4 p-8 text-lg bg-zinc-300/25" style="border-radius: 30px;">
      <h3 class="text-xs text-white">Directors > Person  </h3>
      <h2 class="text-4xl font-bold text-violet-400 mb-8"><%= @director.person.full_name %></h2>

      <div class="w-full mb-8 text-white">
        <h2 class="text-2xl text-violet-400 font-bold mb-0">Biography</h2>
        <%= @director.person.biography %>
      </div>

      <div class="w-full mb-8 text-white">
        <h2 class="text-2xl text-violet-400 font-bold">Movie(s) Directed:</h2>
        <p class="mb-4">Movies/Films Directed by <%= @director.person.full_name %></p>
        <div class="flex gap-8">
          <% @director.movies.each do |m| %>
            <%= link_to m, class: "w-1/6 py-4 rounded-xl bg-zinc-200/25 hover:bg-violet-400 text-center" do %>
              <img class="w-32 h-32 mx-auto rounded-full mb-4" src="<%= m.poster %>" alt="<%= m.title %>">
                <p><%= m.title %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <%# Side Menu Content %>
    <div class="w-1/4">
      <div class="bg-zinc-300/25 rounded-lg overflow-hidden p-8" style="border-radius: 30px;">
        <img class="w-full rounded-lg mb-8" style="height: 375px;" src="<%= @director.person.photo %>" alt="<%= @director.person.full_name %>">
        <div class="w-full text-white">
          <h2 class="text-2xl text-violet-400 font-bold mb-0">Personal Info</h2>
          <p class="text-lg"><span class="font-bold text-violet-400">Age: </span><%= @director.person.age %></p>
          <p class="text-lg"><span class="font-bold text-violet-400">Born: </span><%= @director.person.date_of_birth.strftime("%B %e, %Y") %></p>
          <% if @director.person.date_of_death? %>
            <p class="text-lg"><span class="font-bold text-violet-400">Died: </span><%= @director.person.date_of_death %></p>
          <% end %>
          <p class="text-lg"><span class="font-bold text-violet-400">Birthplace: </span><%= @director.person.place_of_birth %></p>
        </div>
      </div>
    </div>
  </div>
</div>

